@font-face {
  font-family: "Roboto";
  src: url(../assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Norse";
  src: url(../assets/font/Norse.otf);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  color: var(--text-color);
  height: 100%;
  font-family: 'Roboto', 'system-ui';
}

button {
  all: unset;
  cursor: pointer;
}

button:hover {
  color: var(--primary-color);
}

/* --- CSS VARIABLES --- */
:root {
  --primary-color:#3F72AF;
  --bg-color: #DBE2EF;
  --header-color: #F9F7F7;
  --text-color: #112D4E;
  --card-color: #112D4E;
  --card-text-color: #DBE2EF;
  --logo-color: none;
}

.dark-mode {
  --primary-color:#00ADB5;
  --bg-color: #393E46;
  --header-color: #222831;
  --text-color: #EEEEEE;
  --card-color: #EEEEEE;
  --card-text-color: #393E46;
  --logo-color: invert();
}

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: var(--header-color);
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items:center;
}

.header .logo {
  display: flex;
  align-items:center;
}

.header img {
  filter: var(--logo-color);
  height: 3rem;
  margin-right: 1rem;
}

.header span {
  color: var(--primary-color);
  font-family: "Norse", "system-ui";
  font-size: 2rem;
  font-weight: 700;
}

.header .buttons {
  display: flex;
  gap: 1rem;
}

.main-content {
  background-color: var(--bg-color);
  flex: 1 1 0;
  padding: 1.5rem 2rem 2rem 2rem;

  display: flex;
  flex-flow: column nowrap;
}

.main-content h1,
dialog[open] h1 {
  font-family: "Norse", "system-ui";
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.main-content .bookContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.main-content .bookCard {
  background-color: var(--card-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  color: var(--card-text-color);
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content .bookDetails {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.main-content .bookDetails .bookTitle {
  color: var(--primary-color);
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.main-content .buttons {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.footer {
  background-color: var(--header-color);
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

/* Dialog CSS */

dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
    height: 50vh; /* Ensures the container takes up the full viewport height */
    width: 25vw;
}

input, button, textarea, select {
  font: inherit;
}

dialog[open] .buttons {
  display: flex;
  gap: 1rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7); 
}

dialog[open] fieldset {
  display: flex;
  flex-flow: column nowrap;
  border: none;
  gap: 1rem;
}

dialog[open] form .formQuestion {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 0;
  gap: 0.2rem;
}

dialog[open] form .formQuestion input {
  border-radius: 0.5rem;
  padding: 0.3rem;
}

dialog[open] form .formQuestion input:user-valid {
  border: 3px solid green;
}

dialog[open] form .formQuestion input:user-invalid {
  border: 3px solid red;
}

dialog[open] .buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}